// screens
$mobile-max-width: 639px;
$tablet-min-width: 640px;
$small-desktop-max-width: 1200px;
$desktop-min-width: 1200px;

// colors
$c-accent: #216CFF;
$c-secondary-accent: #F447AF;
$c-primary: #0F0F11;
$c-secondary: #89939A;
$c-icons: #B4BDC3;
$c-elements: #E2E6E9;
$c-green: #27AE60;
$c-red: #EB5757;
$c-white: #fff;
$c-background: #FAFBFC;

// font
$main-font-family: 'Mont', 'Roboto', Arial, Helvetica, sans-serif;
